<div class="nav">
	<div class="list-opts">
		<div class="nav-links">
			<a href="/admin/case_tags">案例标签</a>
			<a href="/admin/case_tags/new">添加 案例标签</a>
		</div>
	</div>
</div>
<div class="main">
<%= form_for [:admin, @case_tag] do |f| %>
<table class="newtable">
	<thead>
		<tr>
			<th colspan="2"><%= t %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
		<tr>
			<td class="data_label">名称：</td>
			<td class="data_ipt">
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="data_sbt">
				<input type="submit" name="submit" value="提交" />
			</td>
		</tr>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
	</tbody>
</table>
<% end %>
</div>
