/* line 3, ../scss/contact.scss */
body {
  background-image: url(img/contact-bg.jpg);
}

/* line 4, ../scss/contact.scss */
.content {
  text-align: center;
  padding-top: 2em;
}

/* line 5, ../scss/contact.scss */
figure {
  padding-bottom: 6em;
}
/* line 6, ../scss/contact.scss */
figure img {
  max-width: 86%;
}

/* line 8, ../scss/contact.scss */
.contact-us {
  display: inline-block;
  text-align: left;
  margin-bottom: 1.5em;
}

/* line 9, ../scss/contact.scss */
.social {
  font-size: .8em;
  margin-bottom: 3em;
}
/* line 10, ../scss/contact.scss */
.social i {
  display: inline-block;
  margin-right: .2rem;
  vertical-align: middle;
  width: 2.6em;
  height: 2.5em;
  background: url(img/contactus-icon.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;
}
/* line 11, ../scss/contact.scss */
.social i.weixin {
  background-position: 0 -2.5em;
}
/* line 12, ../scss/contact.scss */
.social i.tencent {
  background-position: 0 -5em;
}
/* line 14, ../scss/contact.scss */
.social li {
  display: inline-block;
  margin-right: 1.5em;
}
