@import "modules/reset";
@import "modules/layout";
@import "modules/mixins";

.hide-text {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

body{ background:url(img/bg.jpg) no-repeat center top; padding-bottom:4em; }

.header{ margin-bottom:2em; padding:0 10%; max-width:2280px; min-width:800px; position: relative; }
.nav{ line-height:4em; 
	a{ color:#FFF; margin-right:0.5rem; 		
		&:after{ content:"+"; color: #921d46; vertical-align: middle; font-size:1.3rem; margin-left:0.5rem; }
		&:last-child:after{ content:"\0020"; }
	}
}
.logo{ position: absolute; right:5%; top:0; width:20%; height:10rem; background:url(img/logo.png) no-repeat; @include background-size(100% auto);
	
}

.content{ padding:0 16%; max-width:1920px; min-width:800px;
	.news{ display: inline-block; margin-left:2.5rem; line-height:2.2; background-color: rgba(255,255,255,.22); padding:0 1.2rem; }
	figure{ height:24em; margin-bottom:3.5em;}
	img{ float: left; margin-bottom:1%; margin-right:1%;}
	.item{ padding:0 10em 0 0; position: relative;
		img{ position: absolute; right:0; top:1.1em; width:7em; height:7em; }
	}
	.title{ width:10rem; height:6rem; background:url(img/title.png) no-repeat; @include background-size(100% auto); }
	ul{ margin:-5rem 0 3.5rem 3.5rem; font-size:.8em; padding-top:.5rem; width:65%; padding-left:22%; border-top:2px solid #FFF; border-bottom:2px solid #FFF; } 
	li{ display: inline-block; width:49%; line-height:1.4; margin-bottom:.5rem; }
}

.contact{ margin-bottom:2.5em;
	a{ display: inline-block; vertical-align: top; width:2em; height:2em; background:url(img/contact-icon.png) no-repeat; @include background-size(auto 100%);
		&.tencent{ margin-right:.5rem; }
		&.sina{ background-position:-2em 0; margin-right:.5rem; }
		&.weixin{ background-position:-4em 0; }
	}
}
.info{ margin-bottom:1.5em; min-width:800px;
	i{ vertical-align:middle; margin-right:.5rem; width:2em; height:2em; background:url(img/info-icon.png) no-repeat; @include background-size(auto 100%); 
		&.tel{ background-position:-2em 0; }
		&.mail{ background-position:-4em 0; }
	}
	li{ margin-right:3rem; display: inline-block;
		&:last-child{ margin-right: 0;}
	}
}

@media all and (max-width: 1280px) {
    .info{
		li{ text-align: left; margin-bottom:.5em;}
    }
}