@import "modules/reset";
@import "modules/layout";
@import "modules/mixins";

.hide-text {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

body{ background:url(img/bg.jpg) no-repeat center top; }

// header start
.header{ margin-bottom:2em; padding:0 10%; max-width:2280px; min-width:800px; position: relative; }
.nav{ line-height:4em; 
	a{ color:#FFF; margin-right:0.5rem; 		
		&:after{ content:"+"; color: #921d46; font-size:1.3rem; margin-left:0.5rem; }
		&:last-child:after{ content:"\0020"; }
	}
}
.logo{ position: absolute; right:5%; top:0; width:20%; height:10rem; background:url(img/logo.png) no-repeat; @include background-size(100% auto);}

.content{ padding:0 16%; max-width:1920px; min-width:800px;}

// footer start
.footer{ padding:2em 0 2em; background-color: #131720;}
.contact{ margin:0 15% 2.5em; border-top:1px solid #ffffff; background:url(img/footer-logo.png) no-repeat center 2em; padding-top:9em; @include background-size(32% auto);
	a{ display: inline-block; vertical-align: top; width:2em; height:2em; background:url(img/contact-icon.png) no-repeat; @include background-size(auto 100%);
		&.tencent{ margin-right:.5rem; }
		&.sina{ background-position:-2em 0; margin-right:.5rem; }
		&.weixin{ background-position:-4em 0; }
	}
}
.info{ margin-bottom:1.5em; min-width:800px;
	i{ vertical-align:middle; margin-right:.5rem; width:2em; height:2em; background:url(img/info-icon.png) no-repeat; @include background-size(auto 100%); 
		&.tel{ background-position:-2em 0; }
		&.mail{ background-position:-4em 0; }
	}
	li{ margin-right:3rem; display: inline-block;
		&:last-child{ margin-right: 0;}
	}
}

@media all and (max-width: 1280px) {
    .info{
		li{ text-align: left; margin-bottom:.5em;}
    }
}