<%= stylesheet_link_tag    "case", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<ul class="case-list">
		<li>
			<img src="/assets/huamei1.jpg" alt="">
			<h3>亿城集团</h3>
			<p>视觉设计/ 品牌设计／包装设计</p>
		</li><li>
			<img src="/assets/huamei2.jpg" alt="">
			<h3>亿城集团</h3>
			<p>视觉设计/ 品牌设计／包装设计</p>
		</li><li>
			<img src="/assets/huamei3.jpg" alt="">
			<h3>亿城集团</h3>
			<p>视觉设计/ 品牌设计／包装设计</p>
		</li>
		<li>
			<img src="/assets/huamei1.jpg" alt="">
			<h3>亿城集团</h3>
			<p>视觉设计/ 品牌设计／包装设计</p>
		</li><li>
			<img src="/assets/huamei2.jpg" alt="">
			<h3>亿城集团</h3>
			<p>视觉设计/ 品牌设计／包装设计</p>
		</li><li>
			<img src="/assets/huamei3.jpg" alt="">
			<h3>亿城集团</h3>
			<p>视觉设计/ 品牌设计／包装设计</p>
		</li>
	</ul>
</div>