<%= stylesheet_link_tag    "content", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<div class="goback"><a href="/case">&lt;　　　返回　　　&gt;</a></div>
	<div class="article">
		<h2><%= @case.title %></h2>
		<%= @case.content.html_safe %>
	</div>
</div>