<%= stylesheet_link_tag    "case", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<ul class="case-list">
		<% @cases.each do |c| %><li>
			<img src="<%= c.pic %>" alt="">
			<h3><%= c.title %></h3>
			<p><%= c.tags.gsub(",", "ï¼") %></p>
		</li><% end -%>
	</ul>
</div>