<%= stylesheet_link_tag    "contact", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<div class="contact-us">
		<h2>通化市东昌区滨江东路阳光水岸2-3号</h2>
		<ul>
			<li>电话：0435-6865678</li>
			<li>传真：0435-6865678</li>
			<li>企业邮箱：GlamourTM@foxmail.com</li>
		</ul>		
	</div>
	<ul class="social">
		<li><i class="sina"></i>华美时代传媒</li>
		<li><i class="weixin"></i>Hmsd_th</li>
		<li><i class="tencent"></i>287779683</li>
	</ul>
	<figure>
		<img src="/assets/map.jpg" alt="公司位置地图">
	</figure>
</div>