<%= stylesheet_link_tag    "index", media: "all", "data-turbolinks-track" => true %>
<style>
#figure{position:relative;}
#figure span{position:absolute;bottom:1px;left:51%;}
#figure i{margin:0 1px;padding:2px 4px;height:12px;line-height:12px;border:1px solid #CCC;background:#FFF;font-style:normal;font-size:12px;color:#222;cursor:pointer;}
#figure i.cur{background:#FF0000;color:#FFF;}
</style>
<div class="content">
	<h2 class="news">NEWS</h2>
	<figure id="figure">
		<% 1.upto 5 do |i| %>
		<% if !@index_pics["img_url"][i.to_s].blank? %>
		<img width="59%" height="100%" src="<%= @index_pics["img_url"][i.to_s] %>" alt="" class="flashpic" style="display:none;background:#000;">
		<% end %>
		<% end %>
		<% 1.upto 4 do |i| %>
		<img width="19%" height="49.5%" src="<%= @index_pics2["img_url"][i.to_s] %>" alt="" style="background:#000;">
		<% end %>
	</figure>
	<div class="item">
		<h2 class="title hide-text">华美夜色 一周节目</h2>
		<ul>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
		</ul>
		<img src="/assets/qrcode.jpg" alt="">
	</div>
</div>
<script src="/assets/index.js"></script>