<%= stylesheet_link_tag    "index", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<h2 class="news">NEWS</h2>
	<figure>
		<img width="59%" height="100%" src="/assets/index1.jpg" alt="" style="background:#000;">
		<% 1.upto 4 do |i| %>
		<img width="19%" height="49.5%" src="<%= @index_pics2["img_url"][i.to_s] %>" alt="" style="background:#000;">
		<% end %>
	</figure>
	<div class="item">
		<h2 class="title hide-text">华美夜色 一周节目</h2>
		<ul>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
			<li>· 2014.02.24 爱情与事业</li>
		</ul>
		<img src="/assets/qrcode.jpg" alt="">
	</div>
</div>
<script src="/assets/index.js"></script>