<%= stylesheet_link_tag    "content", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<div class="goback"><a href="/intro">&lt;　　　返回　　　&gt;</a></div>
	<div class="article">
		<h2><%= @topic.title %></h2>
		<%= @topic.content.html_safe %>
	</div>
</div>