<%= stylesheet_link_tag    "magazine", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<div class="title">
		<h2>华美时代•校园生活专刊</h2>
		<p>一同分享 一同走过 绽放青春</p>
	</div>
	<ul class="magazine">
		<li><a href="/magazine/1"><img src="/assets/magazine1.jpg" alt="杂志主题"></a><time>2013年11月</time></li><li>
		<img src="/assets/magazine2.jpg" alt="杂志主题"><time>2013年10月</time></li><li>
		<img src="/assets/magazine3.jpg" alt="杂志主题"><time>2013年9月</time></li>
	</ul>
	<div class="askfor">
		<h2>征稿</h2><p>华美时代传媒</p><p>GlamourTM@foxmail.com</p>
	</div>
	<ul class="notice">
		<li>
			<h3>一、文字类投稿 </h3>
			<p>【小说】 以校园青春题材的小说为宜，玄幻、灵异、推理等非常规小说题材亦可，内容无暴力色情描写，无政治、宗教倾向，篇幅在3000—5000字之间。如稿件特别优秀，可酌情考虑延长篇幅。</p>
			<p>【散文】 散文、随笔、游记、旅行随笔及信笺体皆可。旨在抒发生活感悟，深刻描写内心世界及心情故事。篇幅在2000—4000字之间。</p>
		</li><li>
			<h3>二、图片类投稿</h3>
			<p>人物、风景摄影以及独立设计皆可，可投原版与后期处理稿。2—5张起投。</p>
			<h3>三、漫画类投稿</h3>
			<p>原创漫画作品，篇幅、题材风格不限（如投长篇请附完整故事大纲、前两回成稿）。稿件尺寸：推荐使用A4、B4大小漫画原稿纸。</p>
		</li><li>		
			<h3>四、投稿须知</h3>
			<p>A.  文字、图片及漫画投稿作者不得一稿多投，两个月内无答复即可另行处理。投稿时请留下真实姓名、笔名及联系方式。
B.  作者所投稿件确保稿件拥有完全著作权，新领域《华美时代•校园生活专刊》及相关系列出版物有权以任何形式编辑、修改及使用该作品，无需另行征得作者同意及另行支付稿酬。</p>
		</li>
	</ul>
</div>