<%= stylesheet_link_tag    "slider", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<div class="slider">
		<ul class="slides">
			<% @file_list.each_with_index do |f, i| %><% if i % 2 == 0 %><li class="slide"><% end -%><img class="slide" src="<%= @rel_path + f[:filename] %>" /><% if i % 2 != 0 %></li><% end -%><% end %>
		</ul>
	</div>
</div>

<script src="/assets/jquery.glide.js"></script>
<script type="text/javascript">
$(function(){
	$('.slider').glide({
		autoplay: false,
		animationDuration: 300,
		circular: false,
		touchDistance: 80
	});
});
</script>