<%= stylesheet_link_tag    "night", "music", media: "all", "data-turbolinks-track" => true %>
<div class="broadcast clearfix">
	<h2 class="hide-text">夜色</h2>
	<div class="music-play">
		<div id="player">
			<div class="cover"></div>
			<div class="ctrl">
				<div class="tag">
					<strong>Title</strong>
					<span class="artist">Artist</span>
					<span class="album">Album</span>
				</div>
				<div class="control">				
					<span title="上一首" class="rewind icon"></span>
					<span title="播放/暂停" class="playback icon"></span>
					<span title="下一曲" class="fastforward icon"></span>					
				</div>
				<div class="progress">
					<div class="slider">
						<div class="pace"></div>
					</div>
					<div class="timer">0:00</div>
				</div>
			</div>
		</div>
	</div>
	<div class="broad">
		<h3>|| 最新广播主题</h3>
		<ul id="playlist">
		</ul>		
	</div>
	<div class="weixin-sao"><img src="/assets/weixin.png" alt="微信公共帐号"></div>
</div>
<div class="content music">
	<div class="col">
		<h4>|| 华语音乐榜</h4>	
		<ol>
			<li>尚雯婕、魏晨 《Good Night My Love》</li>
			<li>苏醒 《Dream》</li>
			<li>张靓颖 《微笑以后》</li>
			<li>周笔畅 《自得其乐》</li>
			<li>尚雯婕、魏晨 《Good Night My Love》</li>
			<li>苏醒 《Dream》</li>
			<li>张靓颖 《微笑以后》</li>
			<li>周笔畅 《自得其乐》</li>
		</ol>
	</div>
	<div class="col">
		<h4>|| 外语音乐榜</h4>
		<ol>
			<li>Miley Cyrus 《Wrecking Ball》</li>
			<li>Miley Cyrus 《Wrecking Ball》</li>
			<li>Miley Cyrus 《Wrecking Ball》</li>
			<li>Miley Cyrus 《Wrecking Ball》</li>
			<li>Miley Cyrus 《Wrecking Ball》</li>
			<li>Miley Cyrus 《Wrecking Ball》</li>
			<li>Miley Cyrus 《Wrecking Ball》</li>
			<li>Miley Cyrus 《Wrecking Ball》</li>
		</ol>
	</div>
	<div class="col">
		<h4>|| 《华美夜色》简介</h4>
		<p>华美时代文化传媒有限公司旗下携手FM102.1通化城乡广播共同打造——《华美夜色》。这是一档时尚娱乐综艺节目，以活跃气氛、调节情绪、展现学子的青春风采为主要内容。希望大家在有时明媚有时阴晦的天气里，始终保持不变的笑容和快乐的心情。 每晚九点到十点 主播明泽&名嘴和您一起共同体验美好生活</p>
	</div>
</div>
<div class="person">
	<ul id="personIntro" class="person-intro">
		<li>
			<strong>明泽</strong>
			<img src="/assets/mz.jpg" alt="明泽照片">			
			<div>
				<h3>明泽</h3>
				<a class="hide-text" href="">关注微博</a>
				<p>
				出生地：美丽的小城集安<br>
				生日：4月12日<br>
				星座：白羊座<br>
				毕业院校：长春大学<br>
				对美的认识：健康、阳光、开朗<br>
				最爱做的事：主持<br>
				最尴尬的事：发胖<br>
				最喜欢的花：百合<br>
				最喜欢的城市：丽江<br>
				最喜欢的颜色：蓝色<br>
				最喜欢吃的东西：绿叶蔬菜<br>
				最喜欢的季节：夏季<br>
				最开心的事：录制《华美夜色》<br>
				主持的栏目：《音乐榜》、《四季歌》、《快乐崇拜》、《华美夜色》、《石头、剪刀、布》、《快乐童年》、《智在必得》、《十全食美》
				日常活动：给祖国的花朵上课、主持活动或婚礼、看看书、看看电影<br>
				对《华美夜色》的评价：《华美夜色》是全力制作及我</p>
			</div>
		</li>
		<li>	
			<strong>薛书博</strong>	
			<div>
				<h3>薛书博</h3>
				<p>
				出生地：通化<br>
				生日：10月18日<br>
				星座：天秤座<br>
				性格：开朗外向<br>
				最喜欢做的事：吃饭、睡觉、上节目<br>
				最讨厌的一件事：洗袜子<br>
				最喜欢吃的东西：大虾、薯片、果冻<br>
				最不喜欢吃的东西：辣椒、糖<br>
				最喜欢的运动：篮球<br>
				最喜欢的季节：秋天<br>
				最喜欢的颜色：黑、白、蓝<br>
				最喜欢的电影：《最后的武士》<br>
				最拿手的歌曲：《葫芦娃》、《蓝精灵》<br>
				最喜欢的女生类型：个高、长发、文艺范<br>
				准备多大结婚：30岁左右<br>
				用一句话形容自己：人矮嘴不甜长的磕碜还没钱<br>
				人生怎样才能算有价值：做自己想做的，爱自己想爱的，快乐幸福就好。<br>
				座右铭：人求上进早读书，鸟欲高飞先震翅。</p>
			</div>
			<img src="/assets/xsb.jpg" alt="照片">		
		</li>	
	</ul>
</div>

<script src="/assets/jquery-ui-1.8.17.custom.min.js"></script>
<script src="/assets/music.js"></script>