<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>后台管理</title>
<link rel="stylesheet" href="/assets/back_common.css" />
</head>
<body>
<div class="frame-top" id="dvFrameTop">
	<div class="nO">
		<div class="nO-r">
			<span><%= session[:admin] %></span>， <a href="/admin_logout">退出</a>
		</div>
		<h1 id="logo"><a href="/account/desktop" target="main">后台管理</a></h1>
		<div class="sys-msg" style="display:none;">Message</div>
	</div>
	<div class="nP" id="dvNav">
		<ul class="clearfix">
			<li class="nP-selected">常用</li>
			<li>系统</li>
		</ul>
	</div>
</div>
<div class="frame-main">
	<div class="frame-main-nav" id="dvFrameMainNav">
		<div class="navtree nui-scroll" id="navtree">
			<div class="navtree-list">
				<h4>首页<i></i></h4>
				<ul>
					<li><a href="/admin/sys/index_pics" title="首页焦点图" target="main">焦点图</a></li>
					<li><a href="/admin/sys/index_pics2" title="小图" target="main">小图</a></li>
				</ul>
				<h4>公司简介<i></i></h4>
				<ul>
					<li><a href="/admin/sys/intro" title="公司介绍" target="main">公司介绍</a></li>
					<li><a href="/admin/sys/intro_pics" title="公司焦点图" target="main">公司焦点图</a></li>
					<li><a href="/admin/topics" title="公司动态" target="main">公司动态</a></li>
				</ul>
				<h4>案例<i></i></h4>
				<ul>
					<li><a href="/admin/cases" title="案例管理" target="main">案例管理</a></li>
					<li><a href="/admin/case_tags" title="案例标签" target="main">案例标签</a></li>
				</ul>
				<h4>夜色<i></i></h4>
				<ul>
					<li><a href="/admin/night_items" title="节目管理" target="main">节目管理</a></li>
					<li><a href="/admin/sys/nights" title="音乐榜" target="main">音乐榜</a></li>
					<li><a href="/admin/night_presenters" title="主持人" target="main">主持人</a></li>
				</ul>
				<h4><a href="/admin/magazines" title="杂志管理" target="main">杂志管理</a></h4>
				<h4><a href="/admin/sys/contact" title="联系我们" target="main">联系我们</a></h4>
			</div>
			<div class="navtree-list" style="display:none;">
				<h4>系统相关<i></i></h4>
				<ul>
					<li><a href="/admin/run_logs" title="访问出错日志" target="main">访问出错日志</a></li>
					<li><a href="/admin/db/index" title="数据库备份/还原" target="main">数据库备份/还原</a></li>
					<li><a href="/admin/db/sql" title="sql 查询" target="main">sql 查询</a></li>
				</ul>
				<h4>管理员管理<i></i></h4>
				<ul>
					<li><a href="/admin/admins" title="管理员管理" target="main">管理员管理</a></li>
					<li><a href="/admin/admins/new" title="管理员添加" target="main">管理员添加</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="frame-main-con">
		<div id="dvContainer" class="frame-main-con-body nui-scroll">
			<iframe frameborder="0" name="main" scrolling="auto" src="/account/desktop" style="width:100%;height:98%;visibility:inherit;z-index:1"> </iframe>
		</div>
	</div>
</div>
<script type="text/javascript" src="/assets/j.js"></script>
<script type="text/javascript" src="/assets/admin/admin.js"></script>
</body>
</html>