/* line 3, ../scss/music.scss */
#player {
  margin: 3em 0 0 10em;
  position: relative;
}
/* line 6, ../scss/music.scss */
#player .cover {
  padding: 1.5em;
  background-color: rgba(37, 44, 59, 0.7);
  border-top: 1px solid #989ba2;
  border-right: 1px solid #11141b;
  border-bottom: 1px solid #090b0f;
  border-left: 1px solid #595e6a;
  width: 15em;
  height: 15em;
}
/* line 15, ../scss/music.scss */
#player .cover img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
/* line 22, ../scss/music.scss */
#player .ctrl .tag {
  padding-top: 1em;
}
/* line 23, ../scss/music.scss */
#player .ctrl .tag strong, #player .ctrl .tag span {
  display: block;
  text-overflow: ellipsis;
}
/* line 27, ../scss/music.scss */
#player .ctrl .tag strong {
  font-size: 1.4em;
}
/* line 30, ../scss/music.scss */
#player .ctrl .tag span {
  margin-top: 5px;
  color: #ccc;
}
/* line 35, ../scss/music.scss */
#player .ctrl .icon {
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 0.6;
  cursor: pointer;
  user-select: none;
}
/* line 44, ../scss/music.scss */
#player .ctrl .icon:hover, #player .ctrl .icon.enable {
  opacity: 1;
}
/* line 47, ../scss/music.scss */
#player .ctrl .icon:active {
  opacity: 0.3;
}
/* line 51, ../scss/music.scss */
#player .ctrl .control {
  margin-top: 10px;
}
/* line 53, ../scss/music.scss */
#player .ctrl .control span {
  display: inline-block;
  vertical-align: middle;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;
}
/* line 56, ../scss/music.scss */
#player .ctrl .control .rewind, #player .ctrl .control .fastforward {
  width: 4em;
  height: 4em;
  background-image: url(/assets/pre-next.png);
}
/* line 57, ../scss/music.scss */
#player .ctrl .control .rewind {
  background-position: 0 0;
}
/* line 60, ../scss/music.scss */
#player .ctrl .control .playback {
  width: 5em;
  height: 5em;
  margin: 0 1em;
  background-image: url(/assets/play-pause.png);
  background-position: 0 bottom;
}
/* line 64, ../scss/music.scss */
#player .ctrl .control .playback.playing {
  background-position: 0 0;
}
/* line 68, ../scss/music.scss */
#player .ctrl .control .fastforward {
  background-position: 0 bottom;
}
/* line 72, ../scss/music.scss */
#player .ctrl .control .volume .mute {
  background-image: url(/assets/volume.png);
}
/* line 74, ../scss/music.scss */
#player .ctrl .control .volume .mute.enable {
  background-image: url(images/mute.png);
}
/* line 78, ../scss/music.scss */
#player .ctrl .control .volume .slider {
  margin-top: 11px;
  margin-left: 10px;
  width: 100px;
}
/* line 85, ../scss/music.scss */
#player .ctrl .progress {
  margin-top: 2em;
}
/* line 87, ../scss/music.scss */
#player .ctrl .progress .timer {
  font-size: 12px;
  color: #ccc;
  margin-top: 8px;
}
/* line 92, ../scss/music.scss */
#player .ctrl .progress .repeat, #player .ctrl .progress .shuffle {
  background-position: center bottom;
}
/* line 95, ../scss/music.scss */
#player .ctrl .progress .repeat {
  background-image: url(images/repeat.png);
}
/* line 97, ../scss/music.scss */
#player .ctrl .progress .repeat.once, #player .ctrl .progress .repeat.all {
  opacity: 1;
}
/* line 100, ../scss/music.scss */
#player .ctrl .progress .repeat.once {
  position: relative;
}
/* line 102, ../scss/music.scss */
#player .ctrl .progress .repeat.once:before {
  content: "1";
  position: absolute;
  top: 3px;
  right: -2px;
  font-size: 8px;
}
/* line 111, ../scss/music.scss */
#player .ctrl .progress .shuffle {
  background-image: url(images/shuffle.png);
}

/* line 117, ../scss/music.scss */
.slider {
  background-color: #FFF;
  height: 5px;
  position: relative;
  cursor: pointer;
}
/* line 123, ../scss/music.scss */
.slider:hover a, .slider.enable a {
  opacity: 1;
}
/* line 127, ../scss/music.scss */
.slider a {
  width: 5px;
  height: 5px;
  background: #008eff;
  margin-left: -2.5px;
  position: absolute;
  opacity: 0;
}
/* line 135, ../scss/music.scss */
.slider .pace {
  position: absolute;
  height: 100%;
  opacity: 0.7;
}
/* line 140, ../scss/music.scss */
.slider .pace {
  background: #273f52;
}

/* line 144, ../scss/music.scss */
#playlist {
  width: 15em;
  position: relative;
}
/* line 147, ../scss/music.scss */
#playlist li {
  color: #aaa;
  line-height: 2;
  padding-left: 25px;
  cursor: pointer;
  text-overflow: ellipsis;
}
/* line 153, ../scss/music.scss */
#playlist li:hover {
  color: #fff;
}
/* line 156, ../scss/music.scss */
#playlist li.playing {
  background: url(/assets/playing.png) no-repeat 0 center;
  color: #fff;
  font-weight: bold;
}
