/* line 3, ../scss/modules/_module.scss */
.clearfix:before, .person li:before, .clearfix:after, .person li:after {
  display: table;
  content: "\0020";
  line-height: 0;
}
/* line 4, ../scss/modules/_module.scss */
.clearfix:after, .person li:after {
  clear: both;
}

/* line 7, ../scss/modules/_module.scss */
.hide-text {
  line-height: 0;
  color: transparent;
}

/* line 12, ../scss/modules/_module.scss */
.text-overflow, .music li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

/* line 4, ../scss/night.scss */
body {
  background-image: url(/assets/night-bg.jpg);
  background-repeat: repeat;
}

/* line 5, ../scss/night.scss */
.content {
  padding: 0 10%;
}

/* line 7, ../scss/night.scss */
.music-play {
  float: left;
  width: 60%;
}

/* line 8, ../scss/night.scss */
.col {
  width: 30%;
  margin-left: 3%;
  display: inline-block;
  vertical-align: top;
}
/* line 9, ../scss/night.scss */
.col:first-child {
  margin-left: 0;
}

/* line 11, ../scss/night.scss */
.broadcast {
  margin: 0 20% 7em 10%;
  min-width: 800px;
  position: relative;
  padding-top: 6em;
}
/* line 12, ../scss/night.scss */
.broadcast h2 {
  width: 4em;
  height: 10em;
  position: absolute;
  left: 0;
  top: 0;
  background: url(/assets/night-logo.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;
}

/* line 14, ../scss/night.scss */
.broad {
  float: right;
}
/* line 15, ../scss/night.scss */
.broad h3 {
  line-height: 3;
  font-size: 1.2em;
  background-color: #921d46;
  text-indent: 1em;
  position: relative;
}
/* line 16, ../scss/night.scss */
.broad h3:after {
  content: "\0020";
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  bottom: -1.2em;
  left: 1em;
  background: url(/assets/trans.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;
}
/* line 18, ../scss/night.scss */
.broad ul {
  margin: 3em 0 0 3em;
}

/* line 20, ../scss/night.scss */
.weixin-sao {
  width: 20em;
  height: 12em;
  float: right;
  margin-top: 3em;
  margin-right: -5em;
}
/* line 21, ../scss/night.scss */
.weixin-sao img {
  max-width: 100%;
}

/* line 23, ../scss/night.scss */
.music {
  margin-bottom: 5em;
}
/* line 24, ../scss/night.scss */
.music h4 {
  margin-bottom: 1em;
  font-size: 1.2em;
}
/* line 26, ../scss/night.scss */
.music p {
  text-align: justify;
}

/* line 35, ../scss/night.scss */
.person {
  margin: 0 20% 5em;
  min-width: 900px;
  text-align: center;
}
/* line 29, ../scss/night.scss */
.person li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 28%;
  cursor: pointer;
  position: relative;
}
/* line 30, ../scss/night.scss */
.person li:nth-child(2n) {
  margin-left: 10%;
}
/* line 31, ../scss/night.scss */
.person li:nth-child(2n) img {
  margin-right: 0;
}
/* line 33, ../scss/night.scss */
.person li.active {
  background-color: #000;
  width: 100%;
  padding: 2em 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 34, ../scss/night.scss */
.person li.active div {
  display: inline-block;
}
/* line 35, ../scss/night.scss */
.person li.active img {
  max-width: 35%;
  margin-right:4%;
}
/* line 36, ../scss/night.scss */
.person li.active strong {
  display: none;
}
/* line 37, ../scss/night.scss */
.person li.active:nth-child(2n) {
  margin-left: 0;
}
/* line 38, ../scss/night.scss */
.person li.active:nth-child(2n) img {
  margin-left: 4%;
}
/* line 42, ../scss/night.scss */
.person strong {
  font-size: 1.8em;
  font-weight: normal;
  white-space: nowrap;
  line-height: 2;
  padding: 0 1em;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1em;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 43, ../scss/night.scss */
.person h3 {
  font-size: 2em;
}
/* line 44, ../scss/night.scss */
.person a {
  position: absolute;
  right: 0;
  top: 1em;
  width: 6rem;
  height: 2rem;
  background: url(/assets/follow.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;
}
.person a:hover{
  color: rgba(0, 0, 0, 0);
}

/* line 45, ../scss/night.scss */
.person img {
  width: 100%;
  vertical-align: top;
}
/* line 46, ../scss/night.scss */
.person div {
  display: none;
  width: 50%;
  text-align: justify;
  position: relative;
}
/* line 47, ../scss/night.scss */
.person p {
  font-size: .8em;
  color: #d5d7d9;
}
