// 清除浮动
.clearfix {
	&:before,&:after {display: table;content: "\0020";line-height: 0;}
	&:after {clear: both;}
}
// 隐藏图片文字 ...
.hide-text {
  line-height: 0;
  color: transparent;
}
// 超出一行隐藏文字 ...
.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}